@import '_typography';

.generalButton {
    width: 130px;
    height: 62px;
    background: #0C251F;
    color:white;
    border-radius: 9px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border:none;
    font-size: 24px;
    font-weight: 500;
}

.generalButton:hover {
    cursor: pointer;
}